<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basketball</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../public/styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>

    <style>
      .mySlides {display:none}
      .w3-left, .w3-right, .w3-badge {cursor:pointer}
      .w3-badge {height:13px;width:13px;padding:0}
    </style>

  </head>
  <body>


      <div class="userLoginBox" >

        <div class="userLogo">

        </div>

        <button class="logout" type="button" name="button">Logout</button>



      </div>


    <div class="twitter">

     <img class="draft" src="../public/images/draft.jpeg" style="width:625px; height:200px">


    </div>

    <div class="fix">
    </div>

      <div class="draftboard">

          <div class="players" id="Curry">1</div>
          <div class="players" id="James">2</div>
          <div class="players" id="Durant">3</div>
          <div class="players" id="Leonard">4</div>
          <div class="players" id="Davis">5</div>
          <div class="players" id="Antetokounmpo">6</div>
          <div class="players" id="Harden">7</div>
          <div class="players" id="Westbrook">8</div>
          <div class="players" id="Butler">9</div>
          <div class="players" id="Paul">10</div>
          <div class="players" id="Green">11</div>
          <div class="players" id="Wall">12</div>
          <div class="players" id="George">13</div>
          <div class="players" id="Hayward">14</div>
          <div class="players" id="Cousins">15</div>
          <div class="players" id="Golbert">16</div>
          <div class="players" id="Towns">17</div>
          <div class="players" id="Irving">18</div>
          <div class="players" id="Porzingis">19</div>
          <div class="players" id="Anthony">20</div>
  
      </div>
      <div class = "draftbox">
        <h3> TEAM USERNAME!</h3>
        <ul>
          <ol>
          <ol>
          <ol>

        </ul>
      </div>


    </div>


      


  </body>
</html>