<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basketball</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>

    <style>
      .mySlides {display:none}
      .w3-left, .w3-right, .w3-badge {cursor:pointer}
      .w3-badge {height:13px;width:13px;padding:0}
    </style>

  </head>
  <body>


      <div class="userLoginBox" >

        <div class="userLogo">

        </div>

        <button class="logout" type="button" name="button">Logout</button>



      </div>


    <div class="twitter">

     <img class="draft" src="images/draft.jpeg" style="width:625px; height:200px">


    </div>

    <div class="fix">
    </div>

      <div class="draftboard">
  
      </div>
      <div class = "draftbox">
        <h3> TEAM USERNAME!</h3>
        <ul>
          <ol>
          <ol>
          <ol>

        </ul>
      </div>


    </div>


      


  </body>
</html>