<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Basketball</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="../public/styles/style2.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    
    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>

    <style>
      .mySlides {display:none}
      .w3-left, .w3-right, .w3-badge {cursor:pointer}
      .w3-badge {height:13px;width:13px;padding:0}
    </style>

  </head>
  <body>

      <div class="userLoginBox" >

        <div class="userLogo">

        </div>

      </div>


    <div class="twitter">

      <a class="twitter-timeline" data-width="700" data-height="200" data-theme="white" href="https://twitter.com/NBA?ref_src=twsrc%5Etfw">Tweets by NBA</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>

    <div class="fix">
    </div>

    <div class="court">
      <img src="../public/images/court.png" alt="" class="courtShow">
      <img src="../public/images/westbrook.png" alt="" class="playerBoxShow positionC">
      <img src="../public/images/curry.png" alt="" class="playerBoxShow positionPF">
      <img src="../public/images/lebron.png" alt="" class="playerBoxShow positionSF">
      <img src="../public/images/kevin.png" alt="" class="playerBoxShow positionSG">
      <img src="../public/images/harden.png" alt="" class="playerBoxShow positionPG">
    </div>

    <div class="subBox">

    </div>

    <div class="functionButtonsBox">
      <button type="button" name="button" class="functionButtons draft">Draft</button>
      <button type="button" name="button" class="functionButtons match">Match</button>

    </div>


      <footer>
        <div class="footer">

          <h4>© 2017 Company Ken & Kenneth Co.</h4>

        </div>
      </footer>



  </body>
</html>
