html{
  background-size: cover;
  width: 100%;
  background-image: url("../images/background.jpg");
}

body {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

.headbanner{
  width: 100%;
  height: 200px;
}

.gamelogo {
  position:absolute;
  top: 0;
  height: 25%;
  width: 25%;
  left: 38%;
}


.username {
  margin-top: 30%;
  margin-left: 10%;
}
.password {
  margin-top: 5%;
  margin-left: 10%;
}
.buttons {
  margin-top: 13%;
  margin-left: 10%;
}

.w3-content {
  height: 300px;
  width: 67%;
  float: right;
  margin-top: 2%;
  border: 2px solid white;
}

.fix {
  clear: both;
}

.gameInfo {
  background-color: rgba(255, 255, 255, 0.5);
  height: 300px;
  width: 98%;
  margin: 10px auto;
  border-radius: 25%;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.footer h4 {
  text-align: center;
  padding-top: 1%;
  font-weight: bold;
  color: white;
}

.gameInfo h1 {
  text-align: center;
  margin-top: 2%;
}

ul{
  list-style: none;
}

.playerBox {
  background-color: lightblue;
  float: left;
  display: inline-block;
  margin: 3% 4.5%;
  height: 100px;
  width: 10%;
  border-radius: 50%;
}

.mySlides {
  height: 100%;
  width: 100%;
}


.twitter {
  height: 200px;
  width: 65%;
  background-color:black;
  float: right;
  margin-top: 2%;
  color: blue;
}

.userBox {
  background-size: cover;
  background-image: url("../images/loginimg.jpg");
  height: 200px;
  width: 29%;
  float: left;
  margin-top: 2%;
}
.userManagement {
  margin-top: 20%;
  margin-left: 10%;
}


.halfcourt {
  background-color: rgba(255, 255, 255, 0.5);
  height: 600px;
  width: 100%;
  margin: 10px auto;
}

.userLoginBox {
  background-color: rgba(255,255,0,0.8);
  height: 200px;
  width: 29%;
  float: left;
  margin-top: 2%;
}
.userLogo {
  background-size: 100% 100%;
  background-image: url("../images/gsw.jpg");
  height: 35%;
  width: 25%;
  margin: 3%;
  border-radius: 20%;
}

.logout {
  border-radius: 5%;
  margin-left: 50%;
  margin-top: 20%;
}

.court {
  height: 600px;
  width: 100%;
  background-color: skyblue;
  margin-top: 2%;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  height: 300px;
  width: 29%;
  float: left;
  margin-top: 2%;
}
.form {
  position: relative;
  z-index: 1;
  background-image: url("../images/loginimg.jpg");
  background-size: cover;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: orange;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #43A047;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}

.draftboard {
  background-color: rgba(255, 255, 255, 0.5);
  height: 700px;
  width: 70%;
  margin: 10px auto;
  float: left;

}

.players{
  background-color: white;
  height: 18%;
  width:23%;
  margin: 1%;
  float:left;
  font-size: 8px;


}
.draftbox{
background-color: #33363a;
float:right;
height:700px;
width:30%;
margin: 10px auto;
text-align: center;




