html{
  background-size: cover;
  width: 100%;
  background-image: url("../images/background.jpg");
}

body {
  height: 100%;
  width: 70%;
  margin: 0 auto;
}

header img{
  width: 100%;
  height: 200px;
}

.loginBox {
  background-size: cover;
  background-image: url("../images/loginimg.jpg");
  height: 300px;
  width: 29%;
  float: left;
  margin-top: 1%;
}

.username {
  margin-top: 30%;
  margin-left: 30%;
}
.password {
  margin-top: 5%;
  margin-left: 30%;
}
.buttons {
  margin-top: 13%;
  margin-left: 30%;
}

.slides {
  background-color: grey;
  height: 300px;
  width: 67%;
  float: right;
  margin-top: 1%;
}

.fix {
  clear: both;
}

.gameInfo {
  background-color: rgba(255, 255, 255, 0.5);
  height: 300px;
  width: 98%;
  margin: 10px auto;
  border-radius: 25%;
}

.footer {
  height: 75px;
  width: 100%;
  background-color: yellow;
  margin-top: 20px;
}

.gameInfo h1 {
  text-align: center;
}

ul{
  list-style: none;
}

.playerBox {
  background-color: lightblue;
  float: left;
  display: inline-block;
  margin: 3% 4.5%;
  height: 100px;
  width: 10%;
  border-radius: 50%;
}
